body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f9;
}

input {
  padding: 8px;
}

button {
  padding: 5px 10px;
  margin: 5px;
}

.task {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}